html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
   
/*HOME*-------------------------------------------------------/

 /*#menu */

#menu{
    width: 100vw;
    position:fixed;
    font-family: montserrat;
    font-size: 1em; 
    text-align: left;
    padding: 1px 20px;
    background-color: #f0d0c6;
    top:-5px;
    }

#menu ul li{
    display:inline;
    list-style: none;
    padding:0px 10px ;
    }

 a{
    text-decoration: none;
    color: #683c11;
 }

 a:hover{
    color: white;
 }

 /*BANNER*/

 .banner{
     width: 90vw;
     height: 40vw;
     display: block;
     margin-left: auto;
     margin-right: auto;
     padding: 60px ;
 }


 /* Section sobre----------------------------------------*/

 /*TEXTOS*/

 #sobre{
     background-color: antiquewhite;
     padding: 40px;
    
 }
    #texto {
    font-family: raleway;
    text-align:left;
    font-size: 1.2em;
    color: #683c11;
    } 

 h3{
    font-family: raleway;
    text-align:left;
    font-size: 1.5em;
    color: #683c11;
    padding: 2px;
    background-color: #f0d0c6;
 }   

 #skills{
    font-family: raleway;
    font-size: 1.2em;
    color: #683c11
    
 }

    #redes ul li{
        display: inline-block;
        margin-inline: 50%;
    }
    #redes ul li{
        list-style: none;
        width: 40px;  
}
a:hover {
    color: #777777;
    transition: color 0.5s;
}
  


 /*FOTO*/

 .img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 20px;
    float: right;
    
 }
 
/*SECTION PORTFÓLIO-------------------------------------------*/

#portfolio{
    font-family: raleway;
    color: #683c11;
    padding:55px;
    background-color: white;
}

#f4{
    width: 600px;
    height: 350px;
}

#textof4{
    
}











 /*SECTION CONTATO---------------------------------------------*/

 /*FORM*/
 #contato, p{
    font-family: montserrat;
    font-size: 1.5em;
    padding: 25px;
    text-align: center;
    color: #683c11;
    background-color: #f0d0c6;
   
 }

textarea {
    width: 165px;
    height: 100px;
}

footer{
    width:100%;
    background-color: #683c11;
    width: 100vw
    position: relative;
    
}
h5{ 
    padding: 1px;
    font-family: montserrat;
    color:#f0d0c6;
    font-size:0.5em;
}




 

  